@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Calculator" asp-action="Index">Click here for calculator</a>
    <p>This is a calculator i made for a school assignment</p>
</div>

